<div *ngIf="loading" class="loading_container">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando fotos...</p>
</div>

<div *ngIf="!loading" class="photo_details_container">
        <div class="photo_container container col-12 col-md-6 mt-2">
            <img [src]="photoUrl" [alt]="photo.title" class="photo" />
        </div>

        <div class="photo_info col-12 col-md-6 d-flex flex-column">
            <h2 class="photo_title mb-2">{{ photo.title }}</h2>

            <p class="photo_author mb-3">
                <strong>Autor:</strong> {{ photo.author }}
            </p>

            <p class="photo_description mb-3">
                {{ photo.description }}
            </p>

            <div class="tags_container">
                <span class="tag mb-3" *ngFor="let tag of photo.tags">
                    #{{ tag }}
                </span>
            </div>

            <a class="download_btn" (click)="downloadPhoto(photoUrl, photo.title)">
                📥​ Descargar
            </a>
        </div>
</div>