.app_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.main_content {
    flex: 1; 
    padding: 1rem;
    background-color: #f0f0f0;
    align-content: center;
}
header {
    display: flex;
    align-items: center;
    background-color: #4b9eec;
    padding: 1rem 2rem;
    justify-content: center;
}

.buscador_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.buscador {
    width: 40vw;
    min-width: 200px;
    height: 2rem;
}

.size_selector {
    height: 2rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search_btn {
    height: 2rem;
    background-color: #2c7be5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 0 1rem;
}

.search_btn:hover {
    background-color: #1a5bb8;
}

.pagination_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color:  #4b9eec;
}

.page_btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #1a5bb8;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.page_btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.page_number {
    font-weight: bold;
}

.no_photos_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_logo{
    width: 70%;
    height: 70%;
}


