/*.photo_item {
  width: 100%;
  height: 280px;
}
.photo_container{
    display: grid;
    gap: 1rem;
    padding: 1rem;
}
    */

.loading_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* suficiente espacio visible */
}

.photo_container {
    position: relative; 
    overflow: hidden; /*Evita que el boton salga de la imagen*/
    gap: 1rem;
    padding: 1rem;
}

.photo_item {
    width: 100%;
    height: 40vh;

}

.delete_btn {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    right: 2vw;
    margin-top: 1vh;

}

.photo_container:hover .delete_btn {
    opacity: 1;
}

.delete_btn:hover {
    background-color: #dc3545;
    transform: scale(1.1);
}